<div  layout="column">

  <section layout="row" flex>

      <md-sidenav
          class="md-sidenav-left animate-slideRight full-height"
          md-component-id="left"
          md-is-locked-open="true"
          md-whiteframe="4">

        <!-- top bar -->
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">
            <span class="font-garden">Pak Pak Piano</span>
            <md-input-container style="top: .8em; margin-left: 2em; width: 50%;">
              <label>Search</label>
              <input ng-model="search" type="text">
            </md-input-container>
          </h1>
        </md-toolbar>

        <ul style="padding: 0; margin: 0; overflow: hidden; height: 100%;">
          <li ng-repeat="item in projects.data | filter: search"
              class="repeated-item cover relative hover-pop repeat-animate" ng-click="setItem(item)" flex>
            <span class="cover-label">{{item.name}}</span>
            <img ng-src="{{item.thumb}}" class="cover"/>
          </li>
        </ul>
      </md-sidenav>

      <md-content flex style="overflow: hidden;">
        <div layout="row" class="animate" ng-class="{'showSheet': showSheet}"  style="width: 200%;">
          <div layout="column" style="width: 50%;">
            <div ng-show="!item" style="align-items: center; display: flex; height: 100vh;">
              <h1 style="width: 100%; text-align: center; opacity: 0.2; font-size: 4em;">
                Select a recording to view
              </h1>
            </div>
            <div class="embed-responsive">
              <youtube-video class="embed-responsive-item" video-url="item.youtubeUrl"></youtube-video>
            </div>
            <tab-bar>
              <div>
                {{item.name}}
              </div>
              <span class="icons" ng-show="item">
                <md-button ng-click="openYoutube(item)">
                  <span class="icon-youtube"></span> Youtube
                </md-button>
                <md-button ng-click="openSheet(item)">
                  <span class="icon-file-pdf"></span> Sheet
                </md-button>
              </span>
            </tab-bar>
          </div>
          <div layout="column" style="width: 50%;">
            PDF
          </div>
        </div>

        <div flex></div>

      </md-content>

    </section>

</div>
