@font-face {
  font-family: 'icomoon';
  src:  url('https://hosting.backand.io/pakpakpiano/assets/fonts/icomoon.ttf');
  src:  url('https://hosting.backand.io/pakpakpiano/assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('https://hosting.backand.io/pakpakpiano/assets/fonts/icomoon.ttf') format('truetype'),
    url('https://hosting.backand.io/pakpakpiano/assets/fonts/icomoon.woff') format('woff'),
    url('https://hosting.backand.io/pakpakpiano/assets/fonts/icomoon.svg?lnc7k7') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\f167";
}
.icon-file-pdf:before {
  content: "\eadf";
}
